apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# 引用base目录
resources:
  - ../../base

# 为不同资源指定target和对应的外部JSON Patch文件
patches:
  # 对deployment的JSON Patch，引用外部文件
  - target:
      kind: Deployment
      name: nginx-deployment
    path: latest/deployment_patch.yaml

  # 对configmap的JSON Patch，引用外部文件
  - target:
      kind: ConfigMap
      name: nginx-configmap
    path: latest/configmap_patch.yaml

  # 对service的JSON Patch，引用外部文件
  - target:
      kind: Service
      name: nginx-service
    path: latest/service_patch.yaml
